@charset "UTF-8";

/*
Fontes
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --primary-color: rgb(245, 189, 199);
    --primary-color-darker: rgb(160, 85, 99);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--primary-color);
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 645px;
    margin: 25px auto;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 5px;
}

form input {
    font-size: 20px;
    height: 30px;
    padding: 0 10px;
}

form input:focus {
    outline: 1px solid var(--primary-color);
}

form button {
    border: none;
    color: #fff;
    background-color: var(--primary-color);
    font-size: 18px;
    font-weight: 700;
    height: 25px;
    cursor: pointer;
}

form button:hover {
    background-color: var(--primary-color-darker);
}

form button:active {
    background-color: rgb(236, 51, 82);
}